extends template.jade

block title
   title= title_start + "How to join"

block content
   h1 How to join debating
   article
      h2 Notices
      ul
         li look in notices at beginning of year
   article
      h2 Juniors
      ul
         li See Mrs Bastion or Mrs Van Der Beek
   article
      h2 Seniors
      ul
         li See Mr Brown or Mr Kearney
      p ayy lmao ayy lmao