extends template.jade

block title
   title= title_start + "How to join"

block content
   h1 How to join debating
   article
      h2 Notices
      p
         | There will probably be a notice near the beginning of the year for new debaters to join. Unfortunately it is hard to join midway through a year because of how the competition is structured.
   div.adjustive-flex
      article
         h2 Juniors
         +image("images/juniors-2013.jpg", 400, 320, "2013 Junior Team", "images/full/juniors-2013.jpg")
         p
            | See Mrs Bastion or Mrs Van Der Beek.
      article
         h2 Seniors
         +image("images/seniors-2013.jpg", 400, 320, "2013 Senior Team", "images/full/seniors-2013.jpg")
         p
            | See Mr Brown or Mr Kearney.

//The final countdown, oops, I mean comment