extends template.jade

block title
   title= title_start + "Home"

block content
   h1 HBHS Debating
   article
      h2 What is it?
      p.
         SOME TEXT YO
   article
      h2 Why do it?
   article
      h2 How to join
   article
      h2 Tips
      p ayy lmao