extends template.jade

block title
   title= title_start + "Home"

block content
   h1 HBHS Debating
   article
      h2 History of HBHS Debating
      div.adjustive-flex
         div.adjustive-flex
            +image("images/thomas-simpson.jpg", 600/2, 390/2, "Christopher Jury, Mr. Kevin Brown and Thomas Simpson", "images/full/thomas-simpson.jpg").float-left
            +image("images/1960-debating.jpg", 600/2, 390/2, "1960 HBHS Debating Team", "images/full/1960-debating.jpg").float-right
      p
         | Hamilton Boys' High School has been debating before it was called Hamilton Boys' High school, when it was just Hamilton High School. We have consistently competed and enjoyed doing so. Now we participate in a variety of regional and national competitions, with some members now participating in international competitions at the highest level. For example, Thomas Simpson, a debater who only left the school in 2012, debates for the Cambridge Union Society 
         a(href="https://www.youtube.com/watch?v=PSc9smM6Czk") here.
   div.adjustive-flex
      article
         h2 What is it?
         +image("images/team.jpg", 500, 375, "What is it?", "what.html")
         p
            | What exactly do you do in debating?
      article
         h2 Why do it?
         +image("images/UN.jpg", 500, 375, "Why do it?", "why.html")
         p
            | What do I gain from debating?
      article
         h2 How to join
         +image("images/speaking.jpg", 500, 375, "How to join", "how.html")
         p
            | How do I start debating?
      article
         h2 Tips
         +image("images/champions.jpg", 500, 375, "Tips", "tips.html")
         p
            | How do I get better at debating?