extends template.jade

block title
   title= title_start + "Home"

block content
   h1 HBHS Debating
   div.index-flex
      article
         h2 What is it?
         //Any uniformly sized images will work nicely
         +image("images/filler-image-1.png", 300, 150).center
         p
            | What exactly do you do in debating?
      article
         h2 Why do it?
         +image("images/filler-image-1.png", 300, 150).center
         p
            | What do I gain from debating?
      article
         h2 How to join
         +image("images/filler-image-1.png", 300, 150).center
         p
            | How do I start debating?
      article
         h2 Tips
         +image("images/filler-image-1.png", 300, 150).center
         p
            | How do I get better at debating?