- var title_start = "HBHS Debating - ";

mixin poi
   aside(class!="point-of-information "+attributes.class)
      block

mixin nav-list
   ul
      li
         a(href="index.html") Home
      li
         a(href="what.html") What is it?
      li
         a(href="why.html") Why do it?
      li
         a(href="how.html") How to join
      li
         a(href="tips.html") Tips

mixin tool-tip(title)
   span.tool-tip(title=title)
      block

doctype html
html(lang="en")
   head
      block title
         title Default title
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
      meta(name="keywords", content="debating, hamilton, boys, high, school, competition, waikato")
      link(rel="stylesheet" href="style.min.css")
      script(src="https://code.jquery.com/jquery-1.11.2.min.js")
      script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
      script(src="script.min.js")
   body
      #wrapper
         header
            h1 Debating
         nav
            +nav-list
         main
            block content
               h1 Default page heading
               p Default content
         footer
            p Made by Jacob Cheatley