extends template.jade

block title
   title= title_start + "What is it?"

block content
   h1 What is debating?
   article
      h2 Competitive formal debate
      +poi.float-right
         | Did you know that the type of debating HBHS does is often called the Australasia debate?
      p
         | Formal debating is an argument between two or more parties trying to persuade another (generally representative of the public) that their views are the correct ones. It can take many forms; from parliamentary debate where many small teams present views and offer points of information, to turncoat debates, where a single person presents both sides of the argument and concludes which is best, and also debates where two teams of three argue for or against a motion. This is the format within which HBHS debate takes place.
   article
      h2 What do you do in debating?
      - var height = Math.Round(375 / 2);
      +image("images/teams-meet.jpg", 500/2, height, "Teams meeting for a debate", "images/full/teams-meet.jpg").float-left
      p
         | Juniors (years 9-10) or seniors (years 11-13) form teams of three speakers, plus one or two reserves. You compete against schools all around the Waikato (actually just Hamilton, mostly) on Tuesdays (for juniors) or Thursdays (for seniors), about once every few weeks. As you win or lose, you are paired against teams of similar strength, and in term 3 there are semi-finals and finals for the top teams.
      p
         | The top team win the Waikato secondary schools debating cup: great bragging rights!

//The final countdown, oops, I mean comment