extends template.jade

block title
   title= title_start + "What is it?"

block content
   h1 What is debating?
   article
      h2 Debating through the ages
      ul
         li something about ancient history
         li something about power of speech
         li something about debating today (eg politics)
   article
      h2 What do you do in debating?
      ul
         li team of three plus
         li after school
         li rek other schools
      p ayy lmao