extends template.jade

block title
   title= title_start + "Why do it?"

block content
   h1 Why do debating?
   article
      h2 It's Fun!
      p
         | No really, it's actually fun.
   article
      h2 Friends
      p
         | 
      ul
         li form team with friends
         li make new ones
   article
      h2 Learning
      ul
         li about many subjects
         li get really good at speaking
         li very transferrable skills
   article
      h2 Competition
      ul
         li in school
         li Russel McVeagh
         li super 8
   article
      h2 Service Opportunies
      ul
         li seniors can do adjudication
      p ayy lmao